/*!*stylesheet*!*/
/*html, body, #map-canvas, #directions-canvas{*/
	/*height: 100%;*/
/*}*/

/*.ui-content, #mapPage, #directionsPage{*/
	/*height: inherit;*/
/*}*/

#map-canvas {
	margin-top: 90px;
    height: 100%;
    position: absolute;   
    left: 0;
    right: 0;
    z-index: 0;
    opacity: 0.7;
}



#geoLocation {
	padding-top: 50px;
    z-index: 100;
    position: relative;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	text-align:center;
	font-size: 18px;
	color: #727272;
	font-weight:bold;
	line-height:140%;
}

.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
    url('http://i.imgur.com/O5kTUsV.gif')
    50% 50%
    no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
	/**background-size:cover;**/
}

#location {
	font-size:32px;
	color: #0b1d28;
	font-weight:bolder;
}
#temp{
	font-size:32px;
	color: #0b1d28;
	font-weight:bolder;
}
#description{
	font-size:32px;
	color: #0b1d28;
	font-weight:bolder;
}
#humidity{
	font-size:32px;
	color: #0b1d28;
	font-weight:bolder;
}